{% extends "base.html" %}

{% block content %}
    <div class="py-5">
        <h3 class="text-center">Welcome to the Vulnerability Intelligence Platform</h3>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8 text-center">
                <p class="lead">
                    Your one-stop solution for managing and analyzing vulnerability scan reports. In today's rapidly evolving Cybersecurity landscape, staying informed about vulnerabilities is critical. At Array Networks, we provide up-to-date, comprehensive vulnerability reports to help you identify potential threats, understand their impact, and apply timely fixes.
                </p>
            </div>
        </div>
    </div>

    <!-- WHAT WE OFFER Section -->
    <div class="container offer rounded p-4 my-8">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-end align-items-center">
                <h5 class="fw-bold">WHAT WE OFFER</h5>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <div class="vertical-line"></div>
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <span class="texts fw-bold">Latest Vulnerabilities:</span> Browse the most recent reports on critical vulnerabilities discovered in our product software, hardware, and network systems.
                    </li>
                    <li class="mb-3">
                        <span class="texts fw-bold">Severity Categorization:</span> Quickly assess the risk of each vulnerability with our severity classifications – from critical to low.
                    </li>
                    <li class="mb-3">
                        <span class="texts fw-bold">Mitigation & Solutions:</span> Access detailed guides on patching and mitigating the vulnerabilities, ensuring you're always prepared to protect your assets.
                    </li>
                    <li class="mb-3">
                        <span class="texts fw-bold">Research & Insights:</span> Stay informed with expert analysis and insights into the latest trends in Cybersecurity.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}