{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4">Admin Dashboard</h2>
<a href="{{ url_for('auth.add_user') }}" class="btn btn-primary mb-3">Add New User</a>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
        {% if user.role != 'admin' %}
        <div class="d-flex gap-2">
            <form method="POST" action="{{ url_for('auth.delete_user', user_id=user.id) }}" onsubmit="return confirm('Are you sure you want to delete this user?');">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
            <a href="{{ url_for('auth.update_password', user_id=user.id) }}" class="btn btn-warning btn-sm">Update Password</a>
        </div>
        {% else %}
            <em>Admin</em>
        {% endif %}
        </td>


      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
